In [1]:
import pandas as pd
import numpy as np

# Organizando a tabela

In [2]:
df_total = pd.read_csv("../data/world_development_indicators.csv")
df_total17 = df_total[["CountryName", "CountryCode", "SeriesCode", "Y2017"]]
df_total17 = df_total17[df_total17["CountryName"].notnull()]

In [7]:
def pivot_table(columns, index, values, df):
    df_pivot = pd.pivot(df, columns=columns, index=index, values = values)
    df_pivot.reset_index(inplace=True)
    df_new = pd.DataFrame()
    for i in df_pivot:
        if type(i) == str:
            df_new[i] = df_pivot[i]
    return df_new

## Tabela de Indicadores e seus c√≥digos

In [4]:
df_ind = df_total[["SeriesCode", "SeriesName"]]
df_ind.to_csv("../newdata/indicadores.csv", index=False)

In [5]:
df_ind = df_ind[df_ind["SeriesCode"].notnull()]
df_ind = df_ind.head(25)
df_ind["SeriesCode"] = df_ind["SeriesCode"].apply(lambda x: x.replace(".", ""))
df_ind

       SeriesCode                                         SeriesName
0     SHMEDCMHWP3        Community health workers (per 1,000 people)
1   SHXPDCHEXGDZS              Current health expenditure (% of GDP)
2   SHXPDCHEXPCCD  Current health expenditure per capita (current...
3     NYGDPPCAPKN                      GDP per capita (constant LCU)
4     NYGDPMKTPKN                                 GDP (constant LCU)
5       SIPOVGINI                   Gini index (World Bank estimate)
6     NYGNPMKTPKN                                 GNI (constant LCU)
7     NYGNPPCAPKN                      GNI per capita (constant LCU)
8     SHMEDBEDSZS                   Hospital beds (per 1,000 people)
9     SIDST10TH10                   Income share held by highest 10%
10    SHMEDNUMWP3             Nurses and midwives (per 1,000 people)
11  ENURBLCTYURZS  Population in the largest city (% of urban pop...
12      ENPOPDNST  Population density (people per sq. km of land ...
13  ENURBMCTYTLZS  Population in urban agglomerations of more tha...
14      ENURBMCTY  Population in urban agglomerations of more tha...
15  ENPOPSLUMURZS  Population living in slums (% of urban populat...
16      SIDST50MD  Proportion of people living below 50 percent o...
17    SPRURTOTLZS           Rural population (% of total population)
18    IPJRNARTCSC          Scientific and technical journal articles
19    SPRURTOTLZG                 Rural population growth (annual %)
20  GBXPDRSDVGDZS    Research and development expenditure (% of GDP)
21  SLUEMTOTLNEZS  Unemployment, total (% of total labor force) (...
22      SPURBTOTL                                   Urban population
23      SPURBGROW                 Urban population growth (annual %)
24  SPURBTOTLINZS           Urban population (% of total population)

## Tabela 2017

In [31]:
df_pivot17 = pivot_table("SeriesCode", ["CountryName", "CountryCode"], "Y2017", df_total17)
new_columns = []
for i in df_pivot17.columns:
  new_columns.append(i.replace(".", ""))
df_pivot17.columns = new_columns
df_pivot17.to_csv("../newdata/total_2017.csv", index=False)

## Tabela 2018

In [32]:
df_total18 = df_total[["CountryName", "CountryCode", "SeriesCode", "Y2018"]]
df_total18 = df_total18[df_total18["CountryName"].notnull()]
df_pivot18 = pivot_table("SeriesCode", ["CountryName", "CountryCode"], "Y2018", df_total18)


new_columns = []
for i in df_pivot18.columns:
  new_columns.append(i.replace(".", ""))
df_pivot18.columns = new_columns

df_pivot18.to_csv("../newdata/total_2018.csv", index=False)

## Tabela 2019

In [33]:
df_total19 = df_total[["CountryName", "CountryCode", "SeriesCode", "Y2019"]]
df_total19 = df_total19[df_total19["CountryName"].notnull()]
df_pivot19 = pivot_table("SeriesCode", ["CountryName", "CountryCode"], "Y2019", df_total19)

new_columns = []
for i in df_pivot19.columns:
  new_columns.append(i.replace(".", ""))
df_pivot19.columns = new_columns

df_pivot19.to_csv("../newdata/total_2019.csv", index=False)

### Health

In [52]:
def health_tables(df_pivot, year):
    df_health = df_pivot[["CountryCode", "SHMEDCMHWP3", "SHXPDCHEXGDZS", "SHXPDCHEXPCCD", "SHMEDBEDSZS", "SHMEDNUMWP3"]]
    for i in df_health.columns:
        df_health[i] = df_health[i].apply(lambda x: x.replace("..", "") if type(x) == str else x)
    df_health.columns = ["country_code",
      "health_workers",
      "health_expenditure",
      "health_expenditure_per_capita",
      "hospital_beds",
      "nurses_and_midwives"]
    df_health = df_health[df_health["country_code"].notnull()]
    df_health.to_csv(f"../newdata/health_{year}.csv", index=False)
    return df_health

### Education

In [49]:
def education_tables(df_pivot, year):
    df_education = df_pivot[["CountryCode", "GBXPDRSDVGDZS", "IPJRNARTCSC"]]
    for i in df_education.columns:
        df_education[i] = df_education[i].apply(lambda x: x.replace("..", "") if type(x) == str else x)
    df_education.columns = ["country_code",
      "research_and_development_expenditure",
      "scientific_and_technical_journal_articles"]
    df_education.to_csv(f"../newdata/education_{year}.csv", index=False)
    return df_education

### Economics

In [50]:
def economics_tables(df_pivot, year):
    df_economics = df_pivot[["CountryCode", "NYGDPPCAPKN", "NYGDPMKTPKN", "SIPOVGINI", "NYGNPMKTPKN", "NYGNPPCAPKN"]]
    for i in df_economics.columns:
        df_economics[i] = df_economics[i].apply(lambda x: x.replace("..", "") if type(x) == str else x)
    df_economics.columns = [
      "country_code",
      "gdp_per_capita",
      "gdp",
      "gni_index",
      "gni",
      "gni_per_capita"]
    df_economics.to_csv(f"../newdata/economics_{year}.csv", index=False)
    return df_economics

### SocioEconomics

In [51]:
def socioEconomics_tables(df_pivot, year):
    df_socioEconomics = df_pivot[["CountryCode", "SIDST10TH10", "SIDST50MD", "SLUEMTOTLNEZS"]]
    for i in df_socioEconomics.columns:
        df_socioEconomics[i] = df_socioEconomics[i].apply(lambda x: x.replace("..", "") if type(x) == str else x)
    df_socioEconomics.columns = ["country_code",
      "income_share_held_by_highest_10_percent",
      "people_living_below_50_percent_of",
      "unemployment"]
    df_socioEconomics.to_csv(f"../newdata/socioEconomics_{year}.csv", index=False)
    return df_socioEconomics

In [53]:
tables = [
    (df_pivot17, "2017"),
    (df_pivot18, "2018"),
    (df_pivot19, "2019")
]
for table in tables:
    health_tables(table[0], table[1])
    education_tables(table[0], table[1])
    economics_tables(table[0], table[1])
    socioEconomics_tables(table[0], table[1])

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

### Geographics

In [13]:
# df_geographics17 = df_pivot17[["CountryCode", "ENURBMCTYTLZS", "ENURBMCTY", "ENURBLCTYURZS", "ENPOPDNST", "ENPOPSLUMURZS", "SPRURTOTLZS", "SPRURTOTLZG", "SPURBTOTL", "SPURBGROW", "SPURBTOTLINZS"]]
# for i in df_education17.columns:
#     df_education17[i] = df_education17[i].apply(lambda x: x.replace("..", "") if type(x) == str else x)
# df_geographics17.columns = ["country_code",
#   "research_and_development_expenditure",
#   "scientific_and_technical_journal_articles"]
# df_geographics17.to_csv("../newdata/geographics_2017.csv", index=False)
# df_geographics17

,CountryCode,ENURBMCTYTLZS,ENURBMCTY,ENURBLCTYURZS,ENPOPDNST,ENPOPSLUMURZS,SPRURTOTLZS,SPRURTOTLZG,SPURBTOTL,SPURBGROW,SPURBTOTLINZS
0,AFG,10.7815017467297,3913297,42.6990168187315,55.5959930153479,..,74.75,2.24112815187675,9164841,3.46340748347353,25.25
1,ALB,..,..,27.3479864857341,104.870693430657,..,40.617,-2.43282532196503,1706345,1.54128496391169,59.383
2,DZA,6.4252827513111,2659373,8.91756334178298,17.3777146120063,..,27.948,-0.0546470557579523,29821745,2.87137414065366,72.052
3,ASM,..,..,..,278.1,..,12.83,0,48484,-0.249255966476673,87.17
4,AND,..,..,..,163.831914893617,..,11.85,0.450327522524326,67876,-0.495265140972382,88.15
...,...,...,...,...,...,...,...,...,...,...,...
261,PSE,..,..,19.3597028036664,740.000830564784,..,24.106,0.891213640520002,3380930,2.3398089806951,75.894
262,WLD,23.7670741438885,..,16.0976476826867,58.9618534562478,..,45.1769515180887,0.138439624019583,4115696800,1.9843445125173,54.8230484819113
263,YEM,9.63217977942089,2681100,26.7441689960957,52.7204594958047,..,63.984,1.45660107337313,10024989,4.16612336214073,36.016
264,ZMB,14.2771540567263,2406227,33.2212257254929,22.6713945573656,..,57.024,2.01254214474919,7243041,4.21134865314207,42.976
265,ZWE,10.6056616171744,1509901,32.8990375637951,36.8017190125372,..,67.763,1.54717441894081,4589499,1.27719247198111,32.237

### Geographics

In [104]:
df_geographics18 = df_pivot18[["CountryCode", "EN.URB.MCTY.TL.ZS", "EN.URB.MCTY", "EN.URB.LCTY.UR.ZS", "EN.POP.DNST", "EN.POP.SLUM.UR.ZS", "SP.RUR.TOTL.ZS", "SP.RUR.TOTL.ZG", "SP.URB.TOTL", "SP.URB.GROW", "SP.URB.TOTL.IN.ZS"]]
df_geographics18.to_csv("../newdata/geographics_2018.csv", index=False)
df_geographics18

,CountryCode,EN.URB.MCTY.TL.ZS,EN.URB.MCTY,EN.URB.LCTY.UR.ZS,EN.POP.DNST,EN.POP.SLUM.UR.ZS,SP.RUR.TOTL.ZS,SP.RUR.TOTL.ZG,SP.URB.TOTL,SP.URB.GROW,SP.URB.TOTL.IN.ZS
0,AFG,10.792339238057,4011770,42.3311983623682,56.937760009803,70.6999969482422,74.505,2.05646291237639,9477100,3.35038297624495,25.495
1,ALB,..,..,27.5063925379807,104.612262773723,..,39.681,-2.57812110197857,1728969,1.31716210445698,60.319
2,DZA,6.37850392208528,2693542,8.78230990288061,17.7300750711665,..,27.371,-0.0787864813063178,30670086,2.80499567674668,72.629
3,ASM,..,..,..,277.325,..,12.847,-0.140232809406397,48339,-0.299515834872394,87.153
4,AND,..,..,..,163.842553191489,..,11.938,0.742442541306233,67813,-0.092859413109399,88.062
...,...,...,...,...,...,...,...,...,...,...,...
261,PSE,..,..,19.3574193555803,758.984551495017,..,23.836,1.40670467907508,3479999,2.88811868523477,76.164
262,WLD,24.0100202823131,..,16.1122287366912,59.6178807531312,29.2445561511366,44.7295739607251,0.102531862340484,4195079805,1.92878651799617,55.2704260392749
263,YEM,9.75243877024931,2779317,26.6154649528479,53.9778529083092,66.1999969482422,63.358,1.37383409848097,10442489,4.08020880658667,36.642
264,ZMB,14.5451238492419,2523844,33.4209340801511,23.3414789007116,54.5999984741211,56.479,1.95247167129333,7551686,4.17297037539389,43.521
265,ZWE,10.4925141031059,1515016,32.5763444910973,37.3245909267158,33.5,67.791,1.45209278046374,4650663,1.32389222924462,32.209

### Geographics

In [111]:
df_geographics19 = df_pivot19[["CountryCode", "EN.URB.MCTY.TL.ZS", "EN.URB.MCTY", "EN.URB.LCTY.UR.ZS", "EN.POP.DNST", "EN.POP.SLUM.UR.ZS", "SP.RUR.TOTL.ZS", "SP.RUR.TOTL.ZG", "SP.URB.TOTL", "SP.URB.GROW", "SP.URB.TOTL.IN.ZS"]]
df_geographics19.to_csv("../newdata/geographics_2019.csv", index=False)
df_geographics19

,CountryCode,EN.URB.MCTY.TL.ZS,EN.URB.MCTY,EN.URB.LCTY.UR.ZS,EN.POP.DNST,EN.POP.SLUM.UR.ZS,SP.RUR.TOTL.ZS,SP.RUR.TOTL.ZG,SP.URB.TOTL,SP.URB.GROW,SP.URB.TOTL.IN.ZS
0,AFG,10.8145118650418,4114030,41.9915827598149,..,..,74.246,1.96358574692554,9797273,3.32257193526388,25.754
1,ALB,..,..,27.7309419298429,..,..,38.771,-2.74606661163753,1747593,1.07141354924368,61.229
2,DZA,6.3394457452426,2729325,8.66174655110584,..,..,26.811,-0.13323063442144,31510100,2.70203471945637,73.189
3,ASM,..,..,..,..,..,12.853,-0.238848023629824,48203,-0.281742847595643,87.147
4,AND,..,..,..,..,..,12.016,0.82331740120781,67873,0.0884394910466288,87.984
...,...,...,...,...,...,...,...,...,...,...,...
261,PSE,..,..,19.3587342326344,..,..,23.56,1.34706676269918,3581448,2.87351814806851,76.44
262,WLD,24.2163182191787,..,16.0994179512369,..,..,44.2857152845525,0.0721419431982895,4274233737,1.88682780016862,55.7142847154475
263,YEM,9.85659655766174,2874373,26.4443343097945,..,..,62.727,1.29966130332314,10869523,4.00798539245142,37.273
264,ZMB,14.8178408524032,2646619,33.6218939892753,..,..,55.928,1.91199588236161,7871713,4.15048511630338,44.072
265,ZWE,10.3875888431834,1521311,32.2495789439097,..,..,67.79,1.41820521552295,4717305,1.42278718723626,32.21