In [71]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.sql import text
from pymongo import MongoClient

# PostgreSQL Config

In [61]:
conn = create_engine("postgres://qsftbpcq:u6W3A32c1P8rgcw-5iuU263Rd33U3t2t@tuffi.db.elephantsql.com:5432/qsftbpcq")

In [35]:
def run_query(query, conn, year):
    return pd.read_sql_query(query.format(year), conn)

# MongoDB Config

In [74]:
client = MongoClient("mongodb+srv://admin-poltrona:N2YnzBBqHSL5Pnw@poltrona-cluster.rmucu.mongodb.net/covid_data?retryWrites=true&w=majority")
db = client.covid_data

# World Bank Queries

## Countries Code

In [73]:
country_codes = pd.read_sql_query("select * from country_codes", conn)
country_codes

                   country_name alpha_2 alpha_3
0                      Zimbabwe      ZW     ZWE
1                        Zambia      ZM     ZMB
2                  South Africa      ZA     ZAF
3                       Mayotte      YT     MYT
4                         Yemen      YE     YEM
..                          ...     ...     ...
244                    Anguilla      AI     AIA
245         Antigua and Barbuda      AG     ATG
246                 Afghanistan      AF     AFG
247  United Arab Emirates (the)      AE     ARE
248                     Andorra      AD     AND

[249 rows x 3 columns]

## Queries Relacionadas a saúde

In [47]:
health_expenditure_per_capita_query = """
select
country_name,
country_code,
cc.alpha_2,
health_expenditure_per_capita
from health_{} as h
inner join
country_codes as cc on cc.alpha_3 = h.country_code
where health_expenditure_per_capita is not null
order by health_expenditure_per_capita desc
"""  

nurses_query = """
select
country_name,
country_code,
cc.alpha_2,
nurses_and_midwives
from health_{} as h
inner join
country_codes as cc on cc.alpha_3 = h.country_code
where nurses_and_midwives is not null
order by nurses_and_midwives desc
"""

df_health_expenditure_per_capita = run_query(health_expenditure_per_capita_query, conn, "2017")
df_nurses = run_query(nurses_query, conn, "2017")

In [48]:
df_health_expenditure_per_capita

,country_name,country_code,alpha_2,health_expenditure_per_capita
0,United States of America (the),USA,US,10246.138672
1,Switzerland,CHE,CH,9956.259766
2,Norway,NOR,NO,7936.375000
3,Iceland,ISL,IS,6086.311523
4,Sweden,SWE,SE,5904.583984
...,...,...,...,...
180,Burundi,BDI,BI,23.500433
181,Gambia (the),GMB,GM,23.272326
182,South Sudan,SSD,SS,22.888573
183,Mozambique,MOZ,MZ,21.071156
184,Congo (the Democratic Republic of the),COD,CD,19.431646

In [46]:
df_nurses

         country_name country_code alpha_2  nurses_and_midwives
0              Belize          BLZ      BZ             185.3140
1             Belgium          BEL      BE              18.9734
2              Norway          NOR      NO              18.1559
3         Switzerland          CHE      CH              17.5357
4             Ireland          IRL      IE              16.0996
..                ...          ...     ...                  ...
123           Senegal          SEN      SN               0.3127
124              Chad          TCD      TD               0.2322
125  Papua New Guinea          PNG      PG               0.2253
126       Afghanistan          AFG      AF               0.1755
127         Guatemala          GTM      GT               0.0686

[128 rows x 4 columns]

## Queries Relacionadas a Educação

In [49]:
research_query = """
select
cc.country_name,
e.country_code,
cc.alpha_2,
research_and_development_expenditure
from education_{} e
inner join
country_codes as cc on cc.alpha_3 = e.country_code
where research_and_development_expenditure is not null
order by research_and_development_expenditure desc
"""

scientific_articles_query = """
select
cc.country_name,
e.country_code,
cc.alpha_2,
scientific_and_technical_journal_articles
from education_{} e
inner join
country_codes as cc on cc.alpha_3 = e.country_code
where scientific_and_technical_journal_articles is not null
order by scientific_and_technical_journal_articles desc
"""

df_research = run_query(research_query, conn, "2017")
df_scientific_articles = run_query(scientific_articles_query, conn, "2017")

In [51]:
df_research

,country_name,country_code,alpha_2,research_and_development_expenditure
0,Israel,ISR,IL,4.81602
1,Korea (the Republic of),KOR,KR,4.55324
2,Sweden,SWE,SE,3.39676
3,Switzerland,CHE,CH,3.37286
4,Japan,JPN,JP,3.21254
...,...,...,...,...
86,Iraq,IRQ,IQ,0.04455
87,Honduras,HND,HN,0.04000
88,Myanmar,MMR,MM,0.03186
89,Guatemala,GTM,GT,0.02800
90,Madagascar,MDG,MG,0.01465

In [52]:
df_scientific_articles

,country_name,country_code,alpha_2,scientific_and_technical_journal_articles
0,China,CHN,CN,473438.51
1,United States of America (the),USA,US,432216.49
2,India,IND,IN,121631.31
3,Germany,DEU,DE,107803.17
4,Japan,JPN,JP,101084.19
...,...,...,...,...
191,Andorra,AND,AD,2.01
192,Sao Tome and Principe,STP,ST,0.88
193,Marshall Islands (the),MHL,MH,0.72
194,Tuvalu,TUV,TV,0.65
195,Nauru,NRU,NR,0.00

## Queries relacionadas a Socio Economics

In [69]:
unemployment_query = """
select
cc.country_name,
se.country_code,
cc.alpha_2,
unemployment
from "socioEconomics_{}" se
inner join
country_codes as cc on cc.alpha_3 = se.country_code
where unemployment is not null
order by unemployment desc
"""

pib_per_capita_query = """
select
cc.country_name,
e.country_code,
cc.alpha_2,
gdp_per_capita
from economics_{} e 
inner join
country_codes as cc on cc.alpha_3 = e.country_code
where gdp_per_capita is not null
order by gdp_per_capita desc
"""

gini_query = """
select
cc.country_name,
e.country_code,
cc.alpha_2,
e.gini_index
from economics_{} e 
inner join
country_codes as cc on cc.alpha_3 = e.country_code
where gini_index is not null
order by gini_index desc
"""

df_unemployment = run_query(unemployment_query, conn, 2017)
df_pib_per_capita = run_query(pib_per_capita_query, conn, 2017)
df_gini = run_query(gini_query, conn, 2018)

In [67]:
df_unemployment

                    country_name country_code alpha_2  unemployment
0                         Malawi          MWI      MW     28.666500
1                   South Africa          ZAF      ZA     27.035400
2            Palestine, State of          PSE      PS     25.676600
3    Republic of North Macedonia          MKD      MK     22.381201
4                         Greece          GRC      GR     21.487600
..                           ...          ...     ...           ...
115                         Cuba          CUB      CU      1.700000
116                      Myanmar          MMR      MM      1.556100
117                     Thailand          THA      TH      0.830000
118                     Cambodia          KHM      KH      0.141300
119                        Qatar          QAT      QA      0.140000

[120 rows x 4 columns]

In [64]:
df_pib_per_capita

                   country_name country_code alpha_2  gdp_per_capita
0    Iran (Islamic Republic of)          IRN      IR    8.894808e+07
1                     Indonesia          IDN      ID    3.745733e+07
2                      Viet Nam          VNM      VN    3.448905e+07
3       Korea (the Republic of)          KOR      KR    3.428244e+07
4                      Paraguay          PRY      PY    2.953651e+07
..                          ...          ...     ...             ...
196                    Zimbabwe          ZWE      ZW    1.347769e+03
197                 Timor-Leste          TLS      TL    1.279332e+03
198                 Sudan (the)          SDN      SD    8.150265e+02
199                  Tajikistan          TJK      TJ    7.090012e+02
200                     Liberia          LBR      LR    3.016987e+02

[201 rows x 4 columns]

In [72]:
df_gini

                        country_name country_code alpha_2  gini_index
0                             Brazil          BRA      BR        53.9
1                           Honduras          HND      HN        52.1
2                             Angola          AGO      AO        51.3
3                           Colombia          COL      CO        50.4
4                             Panama          PAN      PA        49.2
5                         Costa Rica          CRI      CR        48.0
6                           Paraguay          PRY      PY        46.2
7                             Mexico          MEX      MX        45.4
8                            Ecuador          ECU      EC        45.4
9           Dominican Republic (the)          DOM      DO        43.7
10                              Peru          PER      PE        42.8
11  Bolivia (Plurinational State of)          BOL      BO        42.2
12                            Turkey          TUR      TR        41.9
13                         Argentina          ARG      AR        41.4
14                           Uruguay          URY      UY        39.7
15                       El Salvador          SLV      SV        38.6
16                         Indonesia          IDN      ID        37.8
17          Russian Federation (the)          RUS      RU        37.5
18                          Thailand          THA      TH        36.4
19                           Georgia          GEO      GE        36.4
20                      Sierra Leone          SLE      SL        35.7
21                          Viet Nam          VNM      VN        35.7
22                           Nigeria          NGA      NG        35.1
23                           Armenia          ARM      AM        34.4
24                          Mongolia          MNG      MN        32.7
25                        Kyrgyzstan          KGZ      KG        27.7
26                           Ukraine          UKR      UA        26.1
27         Moldova (the Republic of)          MDA      MD        25.7
28                           Belarus          BLR      BY        25.2

# Covid Queries

## Coleções Disponíveis

In [75]:
db.list_collection_names()

['covid_summary', 'countries', 'first_cases']

In [76]:
covid_summary = db.covid_summary
countries = db.countries
first_cases = db.first_cases

## Recupera todas as informações de um país

In [77]:
def get_country_info(country_code: str) -> dict:
    summary = covid_summary.find_one({"CountryCode": country_code})
    first = first_cases.find_one({"country_code": country_code})
    if first:
        return {**summary, **{"first_case": first["first_case"]}}
    return summary

## Listagem de todas as informações de todos os países

In [78]:
all_countries_covid = list(map(get_country_info, map(lambda x: x["ISO2"], countries.find({}))))
all_countries_covid

[None,
 {'_id': ObjectId('5fc9391d328335e0ae73f1c5'),
  'Country': 'France',
  'CountryCode': 'FR',
  'Slug': 'france',
  'NewConfirmed': 248,
  'TotalConfirmed': 2275677,
  'NewDeaths': 1,
  'TotalDeaths': 52822,
  'NewRecovered': 0,
  'TotalRecovered': 167915,
  'first_case': '2020-01-24T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1fe'),
  'Country': 'Morocco',
  'CountryCode': 'MA',
  'Slug': 'morocco',
  'NewConfirmed': 4346,
  'TotalConfirmed': 364190,
  'NewDeaths': 70,
  'TotalDeaths': 5985,
  'NewRecovered': 4044,
  'TotalRecovered': 314237,
  'first_case': '2020-03-02T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f20d'),
  'Country': 'Papua New Guinea',
  'CountryCode': 'PG',
  'Slug': 'papua-new-guinea',
  'NewConfirmed': 0,
  'TotalConfirmed': 669,
  'NewDeaths': 0,
  'TotalDeaths': 7,
  'NewRecovered': 0,
  'TotalRecovered': 597,
  'first_case': '2020-03-20T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f212'),
  'Country': 'Portugal',
  'CountryCode': 'PT',
  'Slug': 'portugal',
  'NewConfirmed': 3384,
  'TotalConfirmed': 303846,
  'NewDeaths': 68,
  'TotalDeaths': 4645,
  'NewRecovered': 2569,
  'TotalRecovered': 223446,
  'first_case': '2020-03-02T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f18d'),
  'Country': 'Andorra',
  'CountryCode': 'AD',
  'Slug': 'andorra',
  'NewConfirmed': 52,
  'TotalConfirmed': 6842,
  'NewDeaths': 0,
  'TotalDeaths': 76,
  'NewRecovered': 48,
  'TotalRecovered': 5988,
  'first_case': '2020-03-02T00:00:00Z'},
 None,
 {'_id': ObjectId('5fc9391d328335e0ae73f1ad'),
  'Country': 'China',
  'CountryCode': 'CN',
  'Slug': 'china',
  'NewConfirmed': 120,
  'TotalConfirmed': 93113,
  'NewDeaths': 1,
  'TotalDeaths': 4744,
  'NewRecovered': 50,
  'TotalRecovered': 87101,
  'first_case': '2020-01-22T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f243'),
  'Country': 'Venezuela (Bolivarian Republic)',
  'CountryCode': 'VE',
  'Slug': 'venezuela',
  'NewConfirmed': 446,
  'TotalConfirmed': 103067,
  'NewDeaths': 4,
  'TotalDeaths': 905,
  'NewRecovered': 468,
  'TotalRecovered': 98030,
  'first_case': '2020-03-14T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1fd'),
  'Country': 'Montenegro',
  'CountryCode': 'ME',
  'Slug': 'montenegro',
  'NewConfirmed': 502,
  'TotalConfirmed': 36351,
  'NewDeaths': 6,
  'TotalDeaths': 510,
  'NewRecovered': 772,
  'TotalRecovered': 25409,
  'first_case': '2020-03-17T00:00:00Z'},
 None,
 {'_id': ObjectId('5fc9391d328335e0ae73f202'),
  'Country': 'Nepal',
  'CountryCode': 'NP',
  'Slug': 'nepal',
  'NewConfirmed': 2794,
  'TotalConfirmed': 236246,
  'NewDeaths': 9,
  'TotalDeaths': 1538,
  'NewRecovered': 1567,
  'TotalRecovered': 218161,
  'first_case': '2020-01-25T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f192'),
  'Country': 'Australia',
  'CountryCode': 'AU',
  'Slug': 'australia',
  'NewConfirmed': 16,
  'TotalConfirmed': 27939,
  'NewDeaths': 0,
  'TotalDeaths': 908,
  'NewRecovered': 8,
  'TotalRecovered': 25614,
  'first_case': '2020-01-26T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1b0'),
  'Country': 'Congo (Brazzaville)',
  'CountryCode': 'CG',
  'Slug': 'congo-brazzaville',
  'NewConfirmed': 0,
  'TotalConfirmed': 5774,
  'NewDeaths': 0,
  'TotalDeaths': 94,
  'NewRecovered': 0,
  'TotalRecovered': 4988,
  'first_case': '2020-03-15T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1c2'),
  'Country': 'Ethiopia',
  'CountryCode': 'ET',
  'Slug': 'ethiopia',
  'NewConfirmed': 430,
  'TotalConfirmed': 110984,
  'NewDeaths': 6,
  'TotalDeaths': 1715,
  'NewRecovered': 1150,
  'TotalRecovered': 76067,
  'first_case': '2020-03-13T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1ee'),
  'Country': 'Macao, SAR China',
  'CountryCode': 'MO',
  'Slug': 'macao-sar-china',
  'NewConfirmed': 0,
  'TotalConfirmed': 0,
  'NewDeaths': 0,
  'TotalDeaths': 0,
  'NewRecovered': 0,
  'TotalRecovered': 0},
 {'_id': ObjectId('5fc9391d328335e0ae73f203'),
  'Country': 'Netherlands',
  'CountryCode': 'NL',
  'Slug': 'netherlands',
  'NewConfirmed': 4921,
  'TotalConfirmed': 532444,
  'NewDeaths': 66,
  'TotalDeaths': 9504,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'first_case': '2020-02-27T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f23a'),
  'Country': 'Turkey',
  'CountryCode': 'TR',
  'Slug': 'turkey',
  'NewConfirmed': 31923,
  'TotalConfirmed': 700880,
  'NewDeaths': 193,
  'TotalDeaths': 14129,
  'NewRecovered': 4821,
  'TotalRecovered': 414141,
  'first_case': '2020-03-11T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f206'),
  'Country': 'Niger',
  'CountryCode': 'NE',
  'Slug': 'niger',
  'NewConfirmed': 54,
  'TotalConfirmed': 1640,
  'NewDeaths': 1,
  'TotalDeaths': 76,
  'NewRecovered': 8,
  'TotalRecovered': 1227,
  'first_case': '2020-03-20T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1f3'),
  'Country': 'Maldives',
  'CountryCode': 'MV',
  'Slug': 'maldives',
  'NewConfirmed': 21,
  'TotalConfirmed': 13070,
  'NewDeaths': 0,
  'TotalDeaths': 47,
  'NewRecovered': 33,
  'TotalRecovered': 12001,
  'first_case': '2020-03-08T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f227'),
  'Country': 'Somalia',
  'CountryCode': 'SO',
  'Slug': 'somalia',
  'NewConfirmed': 74,
  'TotalConfirmed': 4525,
  'NewDeaths': 8,
  'TotalDeaths': 121,
  'NewRecovered': 63,
  'TotalRecovered': 3480,
  'first_case': '2020-03-16T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f22e'),
  'Country': 'Swaziland',
  'CountryCode': 'SZ',
  'Slug': 'swaziland',
  'NewConfirmed': 13,
  'TotalConfirmed': 6455,
  'NewDeaths': 0,
  'TotalDeaths': 122,
  'NewRecovered': 15,
  'TotalRecovered': 6032,
  'first_case': '2020-03-14T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f198'),
  'Country': 'Barbados',
  'CountryCode': 'BB',
  'Slug': 'barbados',
  'NewConfirmed': 1,
  'TotalConfirmed': 279,
  'NewDeaths': 0,
  'TotalDeaths': 7,
  'NewRecovered': 0,
  'TotalRecovered': 255,
  'first_case': '2020-03-17T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1d5'),
  'Country': 'Iceland',
  'CountryCode': 'IS',
  'Slug': 'iceland',
  'NewConfirmed': 0,
  'TotalConfirmed': 5413,
  'NewDeaths': 0,
  'TotalDeaths': 27,
  'NewRecovered': 0,
  'TotalRecovered': 5187,
  'first_case': '2020-02-28T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1d6'),
  'Country': 'India',
  'CountryCode': 'IN',
  'Slug': 'india',
  'NewConfirmed': 35551,
  'TotalConfirmed': 9534964,
  'NewDeaths': 526,
  'TotalDeaths': 138648,
  'NewRecovered': 40726,
  'TotalRecovered': 8973373,
  'first_case': '2020-01-30T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1ea'),
  'Country': 'Libya',
  'CountryCode': 'LY',
  'Slug': 'libya',
  'NewConfirmed': 670,
  'TotalConfirmed': 84087,
  'NewDeaths': 4,
  'TotalDeaths': 1200,
  'NewRecovered': 503,
  'TotalRecovered': 54712,
  'first_case': '2020-03-24T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f22b'),
  'Country': 'Sri Lanka',
  'CountryCode': 'LK',
  'Slug': 'sri-lanka',
  'NewConfirmed': 878,
  'TotalConfirmed': 25410,
  'NewDeaths': 2,
  'TotalDeaths': 124,
  'NewRecovered': 487,
  'TotalRecovered': 18304,
  'first_case': '2020-01-27T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f197'),
  'Country': 'Bangladesh',
  'CountryCode': 'BD',
  'Slug': 'bangladesh',
  'NewConfirmed': 2198,
  'TotalConfirmed': 469423,
  'NewDeaths': 38,
  'TotalDeaths': 6713,
  'NewRecovered': 2562,
  'TotalRecovered': 385786,
  'first_case': '2020-03-08T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1e0'),
  'Country': 'Kazakhstan',
  'CountryCode': 'KZ',
  'Slug': 'kazakhstan',
  'NewConfirmed': 777,
  'TotalConfirmed': 176342,
  'NewDeaths': 2,
  'TotalDeaths': 2436,
  'NewRecovered': 689,
  'TotalRecovered': 148732,
  'first_case': '2020-03-13T00:00:00Z'},
 None,
 {'_id': ObjectId('5fc9391d328335e0ae73f1f7'),
  'Country': 'Mauritania',
  'CountryCode': 'MR',
  'Slug': 'mauritania',
  'NewConfirmed': 153,
  'TotalConfirmed': 8863,
  'NewDeaths': 2,
  'TotalDeaths': 179,
  'NewRecovered': 16,
  'TotalRecovered': 7780,
  'first_case': '2020-03-14T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1fb'),
  'Country': 'Monaco',
  'CountryCode': 'MC',
  'Slug': 'monaco',
  'NewConfirmed': 4,
  'TotalConfirmed': 621,
  'NewDeaths': 0,
  'TotalDeaths': 3,
  'NewRecovered': 4,
  'TotalRecovered': 563,
  'first_case': '2020-02-29T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f20a'),
  'Country': 'Pakistan',
  'CountryCode': 'PK',
  'Slug': 'pakistan',
  'NewConfirmed': 3499,
  'TotalConfirmed': 406810,
  'NewDeaths': 39,
  'TotalDeaths': 8205,
  'NewRecovered': 1586,
  'TotalRecovered': 346951,
  'first_case': '2020-02-25T00:00:00Z'},
 None,
 {'_id': ObjectId('5fc9391d328335e0ae73f1b7'),
  'Country': "Côte d'Ivoire",
  'CountryCode': 'CI',
  'Slug': 'cote-divoire',
  'NewConfirmed': 27,
  'TotalConfirmed': 21361,
  'NewDeaths': 0,
  'TotalDeaths': 132,
  'NewRecovered': 29,
  'TotalRecovered': 21010,
  'first_case': '2020-03-11T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1e5'),
  'Country': 'Lao PDR',
  'CountryCode': 'LA',
  'Slug': 'lao-pdr',
  'NewConfirmed': 0,
  'TotalConfirmed': 39,
  'NewDeaths': 0,
  'TotalDeaths': 0,
  'NewRecovered': 0,
  'TotalRecovered': 26,
  'first_case': '2020-03-24T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1e6'),
  'Country': 'Latvia',
  'CountryCode': 'LV',
  'Slug': 'latvia',
  'NewConfirmed': 690,
  'TotalConfirmed': 18377,
  'NewDeaths': 14,
  'TotalDeaths': 224,
  'NewRecovered': 17,
  'TotalRecovered': 1823,
  'first_case': '2020-03-02T00:00:00Z'},
 None,
 None,
 {'_id': ObjectId('5fc9391d328335e0ae73f242'),
  'Country': 'Vanuatu',
  'CountryCode': 'VU',
  'Slug': 'vanuatu',
  'NewConfirmed': 0,
  'TotalConfirmed': 1,
  'NewDeaths': 0,
  'TotalDeaths': 0,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'first_case': '2020-11-10T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f191'),
  'Country': 'Armenia',
  'CountryCode': 'AM',
  'Slug': 'armenia',
  'NewConfirmed': 1264,
  'TotalConfirmed': 137231,
  'NewDeaths': 35,
  'TotalDeaths': 2228,
  'NewRecovered': 1430,
  'TotalRecovered': 111795,
  'first_case': '2020-03-01T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f19d'),
  'Country': 'Bhutan',
  'CountryCode': 'BT',
  'Slug': 'bhutan',
  'NewConfirmed': 1,
  'TotalConfirmed': 415,
  'NewDeaths': 0,
  'TotalDeaths': 0,
  'NewRecovered': 0,
  'TotalRecovered': 386,
  'first_case': '2020-03-06T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1d9'),
  'Country': 'Iraq',
  'CountryCode': 'IQ',
  'Slug': 'iraq',
  'NewConfirmed': 1961,
  'TotalConfirmed': 556728,
  'NewDeaths': 34,
  'TotalDeaths': 12340,
  'NewRecovered': 1743,
  'TotalRecovered': 486313,
  'first_case': '2020-02-24T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1f8'),
  'Country': 'Mauritius',
  'CountryCode': 'MU',
  'Slug': 'mauritius',
  'NewConfirmed': 3,
  'TotalConfirmed': 508,
  'NewDeaths': 0,
  'TotalDeaths': 10,
  'NewRecovered': 2,
  'TotalRecovered': 465,
  'first_case': '2020-03-18T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f18a'),
  'Country': 'Afghanistan',
  'CountryCode': 'AF',
  'Slug': 'afghanistan',
  'NewConfirmed': 263,
  'TotalConfirmed': 46980,
  'NewDeaths': 25,
  'TotalDeaths': 1822,
  'NewRecovered': 119,
  'TotalRecovered': 37026,
  'first_case': '2020-02-24T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1d4'),
  'Country': 'Hungary',
  'CountryCode': 'HU',
  'Slug': 'hungary',
  'NewConfirmed': 4136,
  'TotalConfirmed': 225209,
  'NewDeaths': 165,
  'TotalDeaths': 5142,
  'NewRecovered': 1086,
  'TotalRecovered': 65888,
  'first_case': '2020-03-04T00:00:00Z'},
 None,
 {'_id': ObjectId('5fc9391d328335e0ae73f22a'),
  'Country': 'Spain',
  'CountryCode': 'ES',
  'Slug': 'spain',
  'NewConfirmed': 9331,
  'TotalConfirmed': 1665775,
  'NewDeaths': 273,
  'TotalDeaths': 45784,
  'NewRecovered': 0,
  'TotalRecovered': 150376,
  'first_case': '2020-02-01T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f238'),
  'Country': 'Trinidad and Tobago',
  'CountryCode': 'TT',
  'Slug': 'trinidad-and-tobago',
  'NewConfirmed': 19,
  'TotalConfirmed': 6704,
  'NewDeaths': 1,
  'TotalDeaths': 121,
  'NewRecovered': 36,
  'TotalRecovered': 5843,
  'first_case': '2020-03-14T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1d0'),
  'Country': 'Guyana',
  'CountryCode': 'GY',
  'Slug': 'guyana',
  'NewConfirmed': 26,
  'TotalConfirmed': 5449,
  'NewDeaths': 0,
  'TotalDeaths': 151,
  'NewRecovered': 94,
  'TotalRecovered': 4530,
  'first_case': '2020-03-12T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1f6'),
  'Country': 'Marshall Islands',
  'CountryCode': 'MH',
  'Slug': 'marshall-islands',
  'NewConfirmed': 0,
  'TotalConfirmed': 4,
  'NewDeaths': 0,
  'TotalDeaths': 0,
  'NewRecovered': 0,
  'TotalRecovered': 1,
  'first_case': '2020-10-28T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f200'),
  'Country': 'Myanmar',
  'CountryCode': 'MM',
  'Slug': 'myanmar',
  'NewConfirmed': 1411,
  'TotalConfirmed': 93600,
  'NewDeaths': 26,
  'TotalDeaths': 1998,
  'NewRecovered': 1258,
  'TotalRecovered': 72601,
  'first_case': '2020-03-27T00:00:00Z'},
 None,
 {'_id': ObjectId('5fc9391d328335e0ae73f1ac'),
  'Country': 'Chile',
  'CountryCode': 'CL',
  'Slug': 'chile',
  'NewConfirmed': 1034,
  'TotalConfirmed': 553898,
  'NewDeaths': 8,
  'TotalDeaths': 15438,
  'NewRecovered': 1467,
  'TotalRecovered': 529501,
  'first_case': '2020-02-23T00:00:00Z'},
 None,
 {'_id': ObjectId('5fc9391d328335e0ae73f1c4'),
  'Country': 'Finland',
  'CountryCode': 'FI',
  'Slug': 'finland',
  'NewConfirmed': 420,
  'TotalConfirmed': 25882,
  'NewDeaths': 9,
  'TotalDeaths': 408,
  'NewRecovered': 1300,
  'TotalRecovered': 18100,
  'first_case': '2020-01-29T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1e2'),
  'Country': 'Korea (South)',
  'CountryCode': 'KR',
  'Slug': 'korea-south',
  'NewConfirmed': 540,
  'TotalConfirmed': 35703,
  'NewDeaths': 3,
  'TotalDeaths': 529,
  'NewRecovered': 287,
  'TotalRecovered': 28352,
  'first_case': '2020-01-22T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f20b'),
  'Country': 'Palestinian Territory',
  'CountryCode': 'PS',
  'Slug': 'palestine',
  'NewConfirmed': 2188,
  'TotalConfirmed': 90192,
  'NewDeaths': 16,
  'TotalDeaths': 763,
  'NewRecovered': 1051,
  'TotalRecovered': 66989,
  'first_case': '2020-03-05T00:00:00Z'},
 None,
 {'_id': ObjectId('5fc9391d328335e0ae73f1ff'),
  'Country': 'Mozambique',
  'CountryCode': 'MZ',
  'Slug': 'mozambique',
  'NewConfirmed': 96,
  'TotalConfirmed': 15866,
  'NewDeaths': 1,
  'TotalDeaths': 132,
  'NewRecovered': 236,
  'TotalRecovered': 14014,
  'first_case': '2020-03-22T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f204'),
  'Country': 'New Zealand',
  'CountryCode': 'NZ',
  'Slug': 'new-zealand',
  'NewConfirmed': 9,
  'TotalConfirmed': 2069,
  'NewDeaths': 0,
  'TotalDeaths': 25,
  'NewRecovered': 11,
  'TotalRecovered': 1974,
  'first_case': '2020-02-28T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1c1'),
  'Country': 'Estonia',
  'CountryCode': 'EE',
  'Slug': 'estonia',
  'NewConfirmed': 522,
  'TotalConfirmed': 13019,
  'NewDeaths': 1,
  'TotalDeaths': 122,
  'NewRecovered': 72,
  'TotalRecovered': 7608,
  'first_case': '2020-02-27T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f208'),
  'Country': 'Norway',
  'CountryCode': 'NO',
  'Slug': 'norway',
  'NewConfirmed': 378,
  'TotalConfirmed': 36969,
  'NewDeaths': 17,
  'TotalDeaths': 351,
  'NewRecovered': 0,
  'TotalRecovered': 17998,
  'first_case': '2020-02-26T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f219'),
  'Country': 'Saint Kitts and Nevis',
  'CountryCode': 'KN',
  'Slug': 'saint-kitts-and-nevis',
  'NewConfirmed': 0,
  'TotalConfirmed': 22,
  'NewDeaths': 0,
  'TotalDeaths': 0,
  'NewRecovered': 0,
  'TotalRecovered': 19,
  'first_case': '2020-03-25T00:00:00Z'},
 None,
 {'_id': ObjectId('5fc9391d328335e0ae73f218'),
  'Country': 'Réunion',
  'CountryCode': 'RE',
  'Slug': 'réunion',
  'NewConfirmed': 0,
  'TotalConfirmed': 0,
  'NewDeaths': 0,
  'TotalDeaths': 0,
  'NewRecovered': 0,
  'TotalRecovered': 0},
 {'_id': ObjectId('5fc9391d328335e0ae73f220'),
  'Country': 'Serbia',
  'CountryCode': 'RS',
  'Slug': 'serbia',
  'NewConfirmed': 7919,
  'TotalConfirmed': 191356,
  'NewDeaths': 52,
  'TotalDeaths': 1704,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'first_case': '2020-03-06T00:00:00Z'},
 None,
 {'_id': ObjectId('5fc9391d328335e0ae73f1ba'),
  'Country': 'Dominica',
  'CountryCode': 'DM',
  'Slug': 'dominica',
  'NewConfirmed': 0,
  'TotalConfirmed': 85,
  'NewDeaths': 0,
  'TotalDeaths': 0,
  'NewRecovered': 0,
  'TotalRecovered': 63,
  'first_case': '2020-03-22T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1cb'),
  'Country': 'Greece',
  'CountryCode': 'GR',
  'Slug': 'greece',
  'NewConfirmed': 2185,
  'TotalConfirmed': 109655,
  'NewDeaths': 89,
  'TotalDeaths': 2606,
  'NewRecovered': 0,
  'TotalRecovered': 23074,
  'first_case': '2020-02-26T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f205'),
  'Country': 'Nicaragua',
  'CountryCode': 'NI',
  'Slug': 'nicaragua',
  'NewConfirmed': 0,
  'TotalConfirmed': 5838,
  'NewDeaths': 0,
  'TotalDeaths': 161,
  'NewRecovered': 0,
  'TotalRecovered': 4225,
  'first_case': '2020-03-19T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f22c'),
  'Country': 'Sudan',
  'CountryCode': 'SD',
  'Slug': 'sudan',
  'NewConfirmed': 209,
  'TotalConfirmed': 18254,
  'NewDeaths': 10,
  'TotalDeaths': 1265,
  'NewRecovered': 124,
  'TotalRecovered': 10493,
  'first_case': '2020-03-13T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1c9'),
  'Country': 'Germany',
  'CountryCode': 'DE',
  'Slug': 'germany',
  'NewConfirmed': 23275,
  'TotalConfirmed': 1117953,
  'NewDeaths': 482,
  'TotalDeaths': 17659,
  'NewRecovered': 20184,
  'TotalRecovered': 789564,
  'first_case': '2020-01-27T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1f4'),
  'Country': 'Mali',
  'CountryCode': 'ML',
  'Slug': 'mali',
  'NewConfirmed': 75,
  'TotalConfirmed': 4837,
  'NewDeaths': 1,
  'TotalDeaths': 161,
  'NewRecovered': 22,
  'TotalRecovered': 3263,
  'first_case': '2020-03-25T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f20f'),
  'Country': 'Peru',
  'CountryCode': 'PE',
  'Slug': 'peru',
  'NewConfirmed': 0,
  'TotalConfirmed': 963605,
  'NewDeaths': 0,
  'TotalDeaths': 35966,
  'NewRecovered': 3917,
  'TotalRecovered': 896978,
  'first_case': '2020-03-06T00:00:00Z'},
 None,
 {'_id': ObjectId('5fc9391d328335e0ae73f21f'),
  'Country': 'Senegal',
  'CountryCode': 'SN',
  'Slug': 'senegal',
  'NewConfirmed': 66,
  'TotalConfirmed': 16173,
  'NewDeaths': 1,
  'TotalDeaths': 334,
  'NewRecovered': 30,
  'TotalRecovered': 15657,
  'first_case': '2020-03-02T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1a7'),
  'Country': 'Cameroon',
  'CountryCode': 'CM',
  'Slug': 'cameroon',
  'NewConfirmed': 0,
  'TotalConfirmed': 24487,
  'NewDeaths': 0,
  'TotalDeaths': 441,
  'NewRecovered': 0,
  'TotalRecovered': 22177,
  'first_case': '2020-03-06T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f241'),
  'Country': 'Uzbekistan',
  'CountryCode': 'UZ',
  'Slug': 'uzbekistan',
  'NewConfirmed': 59,
  'TotalConfirmed': 73335,
  'NewDeaths': 0,
  'TotalDeaths': 611,
  'NewRecovered': 0,
  'TotalRecovered': 70534,
  'first_case': '2020-03-15T00:00:00Z'},
 None,
 {'_id': ObjectId('5fc9391d328335e0ae73f1ab'),
  'Country': 'Chad',
  'CountryCode': 'TD',
  'Slug': 'chad',
  'NewConfirmed': 5,
  'TotalConfirmed': 1705,
  'NewDeaths': 0,
  'TotalDeaths': 102,
  'NewRecovered': 7,
  'TotalRecovered': 1539,
  'first_case': '2020-03-19T00:00:00Z'},
 {'_id': ObjectId('5fc9391d328335e0ae73f1a3'),
  'Country': 'Bulgaria',
  'CountryCode': 'BG',
  'Slug': 'bulgaria',
  'NewConfirmed': 3138,
  'TotalConfirmed': 151913,
  'NewDeaths': 159,
  'TotalDeaths': 4347,
  'NewRecovered': 2206,
  'TotalRecovered': 55206,
  'first_case': '2020-03-08T00:00:00Z'},