In [117]:
import pandas as pd
import numpy as np

# Organizando a tabela

In [118]:
df_total = pd.read_csv("../data/world_development_indicators.csv")
df_total17 = df_total[["CountryName", "CountryCode", "SeriesCode", "Y2017"]]
df_total17 = df_total17[df_total17["CountryName"].notnull()]

In [119]:
def pivot_table(columns, index, values, df):
    df_pivot = pd.pivot(df, columns=columns, index=index, values = values)
    df_pivot.reset_index(inplace=True)
    df_new = pd.DataFrame()
    for i in df_pivot:
        if type(i) == str:
            df_new[i] = df_pivot[i]
    return df_new

## Tabela de Indicadores e seus códigos

In [120]:
df_ind = df_total[["SeriesCode", "SeriesName"]]
df_ind.to_csv("../newdata/indicadores.csv", index=False)

In [121]:
df_ind

             SeriesCode                                         SeriesName
0        SH.MED.CMHW.P3        Community health workers (per 1,000 people)
1     SH.XPD.CHEX.GD.ZS              Current health expenditure (% of GDP)
2     SH.XPD.CHEX.PC.CD  Current health expenditure per capita (current...
3        NY.GDP.PCAP.KN                      GDP per capita (constant LCU)
4        NY.GDP.MKTP.KN                                 GDP (constant LCU)
...                 ...                                                ...
6600                NaN                                                NaN
6601                NaN                                                NaN
6602                NaN                                                NaN
6603                NaN                                                NaN
6604                NaN                                                NaN

[6605 rows x 2 columns]

## Tabela 2017

In [122]:
df_pivot17 = pivot_table("SeriesCode", ["CountryName", "CountryCode"], "Y2017", df_total17)
new_columns = []
for i in df_pivot17.columns:
  new_columns.append(i.replace(".", ""))
df_pivot17.columns = new_columns
df_pivot17.to_csv("../newdata/total_2017.csv", index=False)

In [123]:
df_pivot17

,CountryName,CountryCode,ENPOPDNST,ENPOPSLUMURZS,ENURBLCTYURZS,ENURBMCTY,ENURBMCTYTLZS,GBXPDRSDVGDZS,IPJRNARTCSC,NYGDPMKTPKN,...,SHXPDCHEXPCCD,SIDST10TH10,SIDST50MD,SIPOVGINI,SLUEMTOTLNEZS,SPRURTOTLZG,SPRURTOTLZS,SPURBGROW,SPURBTOTL,SPURBTOTLINZS
0,Afghanistan,AFG,55.5959930153479,..,42.6990168187315,3913297,10.7815017467297,..,91.89,506215118500,...,67.1226501464844,..,..,..,11.1836004257202,2.24112815187675,74.75,3.46340748347353,9164841,25.25
1,Albania,ALB,104.870693430657,..,27.3479864857341,..,..,..,149.54,1452763520000,...,..,24.8,12,33.2,13.6157999038696,-2.43282532196503,40.617,1.54128496391169,1706345,59.383
2,Algeria,DZA,17.3777146120063,..,8.91756334178298,2659373,6.4252827513111,0.54243,5201.61,6039019210989.09,...,258.494293212891,..,..,..,13.5699996948242,-0.0546470557579523,27.948,2.87137414065366,29821745,72.052
3,American Samoa,ASM,278.1,..,..,..,..,..,..,595000000,...,..,..,..,..,..,0,12.83,-0.249255966476673,48484,87.17
4,Andorra,AND,163.831914893617,..,..,..,..,..,2.01,2580620000,...,4040.78662109375,..,..,..,..,0.450327522524326,11.85,-0.495265140972382,67876,88.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,West Bank and Gaza,PSE,740.000830564784,..,19.3597028036664,..,..,..,324.96,13686400000,...,..,..,..,..,25.6765995025635,0.891213640520002,24.106,2.3398089806951,3380930,75.894
262,World,WLD,58.9618534562478,..,16.0976476826867,..,23.7670741438885,2.1443127135643,2464455.02522463,..,...,1061.14674489701,..,..,..,5.75450414741688,0.138439624019583,45.1769515180887,1.9843445125173,4115696800,54.8230484819113
263,"Yemen, Rep.",YEM,52.7204594958047,..,26.7441689960957,2681100,9.63217977942089,..,126.37,225884000000,...,..,..,..,..,..,1.45660107337313,63.984,4.16612336214073,10024989,36.016
264,Zambia,ZMB,22.6713945573656,..,33.2212257254929,2406227,14.2771540567263,..,209.45,134270590000,...,67.6486663818359,..,..,..,11.6258001327515,2.01254214474919,57.024,4.21134865314207,7243041,42.976
265,Zimbabwe,ZWE,36.8017190125372,..,32.8990375637951,1509901,10.6056616171744,..,340.45,19187849500,...,110.149620056152,34.8,12.7,44.3,..,1.54717441894081,67.763,1.27719247198111,4589499,32.237

### Health

In [124]:
df_health17 = df_pivot17[["CountryCode", "SHMEDCMHWP3", "SHXPDCHEXGDZS", "SHXPDCHEXPCCD", "SHMEDBEDSZS", "SHMEDNUMWP3"]]
df_health17.to_csv("../newdata/health_2017.csv", index=False)
df_health17

KeyError: "['SH.MED.BEDS.ZS', 'SH.XPD.CHEX.PC.CD', 'SH.XPD.CHEX.GD.ZS', 'SH.MED.NUMW.P3', 'SH.MED.CMHW.P3'] not in index"

### Economics

In [94]:
df_economics17 = df_pivot17[["CountryCode", "NYGDPPCAPKN", "NYGDPMKTPKN", "SIPOVGINI", "NYGNPMKTPKN", "NYGNPPCAPKN"]]
df_economics17.to_csv("../newdata/economics_2017.csv", index=False)
df_economics17

,CountryCode,NY.GDP.PCAP.KN,NY.GDP.MKTP.KN,SI.POV.GINI,NY.GNP.MKTP.KN,NY.GNP.PCAP.KN
0,AFG,13946.7032129908,506215118500,..,..,..
1,ALB,505580.393233655,1452763520000,33.2,..,..
2,DZA,145908.099282066,6039019210989.09,..,5909479636166.07,142778.307426157
3,ASM,10697.5907946782,595000000,..,..,..
4,AND,33514.110206361,2580620000,..,..,..
...,...,...,...,...,...,...
261,PSE,3072.27813563108,13686400000,..,15540544239.2573,3488.49034677327
262,WLD,..,..,..,..,..
263,YEM,8115.15906640822,225884000000,..,..,..
264,ZMB,7966.83728807606,134270590000,..,..,..
265,ZWE,1347.76941639399,19187849500,44.3,17320653220.6662,1216.61610295515

### Socioeconomics

In [95]:
df_socioEconomics17 = df_pivot17[["CountryCode", "SIDST10TH10", "SIDST50MD", "SLUEMTOTLNEZS"]]
df_socioEconomics17.to_csv("../newdata/socioEconomics_2017.csv", index=False)
df_socioEconomics17

    CountryCode SI.DST.10TH.10 SI.DST.50MD SL.UEM.TOTL.NE.ZS
0           AFG             ..          ..  11.1836004257202
1           ALB           24.8          12  13.6157999038696
2           DZA             ..          ..  13.5699996948242
3           ASM             ..          ..                ..
4           AND             ..          ..                ..
..          ...            ...         ...               ...
261         PSE             ..          ..  25.6765995025635
262         WLD             ..          ..  5.75450414741688
263         YEM             ..          ..                ..
264         ZMB             ..          ..  11.6258001327515
265         ZWE           34.8        12.7                ..

[266 rows x 4 columns]

### Education

In [96]:
df_education17 = df_pivot17[["CountryCode", "GBXPDRSDVGD.ZS", "IPJRNARTCSC"]]
df_education17.to_csv("../newdata/education_2017.csv", index=False)
df_education17

    CountryCode GB.XPD.RSDV.GD.ZS    IP.JRN.ARTC.SC
0           AFG                ..             91.89
1           ALB                ..            149.54
2           DZA           0.54243           5201.61
3           ASM                ..                ..
4           AND                ..              2.01
..          ...               ...               ...
261         PSE                ..            324.96
262         WLD   2.1443127135643  2464455.02522463
263         YEM                ..            126.37
264         ZMB                ..            209.45
265         ZWE                ..            340.45

[266 rows x 3 columns]

### Geographics

In [97]:
df_geographics17 = df_pivot17[["CountryCode", "ENURBMCTYTLZS", "ENURBMCTY", "ENURBLCTYURZS", "ENPOPDNST", "ENPOPSLUMURZS", "SPRURTOTLZS", "SPRURTOTLZG", "SPURBTOTL", "SPURBGROW", "SPURBTOTLINZS"]]
df_geographics17.to_csv("../newdata/geographics_2017.csv", index=False)
df_geographics17

,CountryCode,EN.URB.MCTY.TL.ZS,EN.URB.MCTY,EN.URB.LCTY.UR.ZS,EN.POP.DNST,EN.POP.SLUM.UR.ZS,SP.RUR.TOTL.ZS,SP.RUR.TOTL.ZG,SP.URB.TOTL,SP.URB.GROW,SP.URB.TOTL.IN.ZS
0,AFG,10.7815017467297,3913297,42.6990168187315,55.5959930153479,..,74.75,2.24112815187675,9164841,3.46340748347353,25.25
1,ALB,..,..,27.3479864857341,104.870693430657,..,40.617,-2.43282532196503,1706345,1.54128496391169,59.383
2,DZA,6.4252827513111,2659373,8.91756334178298,17.3777146120063,..,27.948,-0.0546470557579523,29821745,2.87137414065366,72.052
3,ASM,..,..,..,278.1,..,12.83,0,48484,-0.249255966476673,87.17
4,AND,..,..,..,163.831914893617,..,11.85,0.450327522524326,67876,-0.495265140972382,88.15
...,...,...,...,...,...,...,...,...,...,...,...
261,PSE,..,..,19.3597028036664,740.000830564784,..,24.106,0.891213640520002,3380930,2.3398089806951,75.894
262,WLD,23.7670741438885,..,16.0976476826867,58.9618534562478,..,45.1769515180887,0.138439624019583,4115696800,1.9843445125173,54.8230484819113
263,YEM,9.63217977942089,2681100,26.7441689960957,52.7204594958047,..,63.984,1.45660107337313,10024989,4.16612336214073,36.016
264,ZMB,14.2771540567263,2406227,33.2212257254929,22.6713945573656,..,57.024,2.01254214474919,7243041,4.21134865314207,42.976
265,ZWE,10.6056616171744,1509901,32.8990375637951,36.8017190125372,..,67.763,1.54717441894081,4589499,1.27719247198111,32.237

## Tabela 2018

In [98]:
df_total18 = df_total[["CountryName", "CountryCode", "SeriesCode", "Y2018"]]
df_total18 = df_total18[df_total18["CountryName"].notnull()]

new_columns = []
for i in df_pivot18.columns:
  new_columns.append(i.replace(".", ""))
df_pivot18.columns = new_columns

df_pivot18 = pivot_table("SeriesCode", ["CountryName", "CountryCode"], "Y2018", df_total18)
df_pivot18.to_csv("../newdata/total_2018.csv", index=False)

In [99]:
df_pivot18

,CountryName,CountryCode,EN.POP.DNST,EN.POP.SLUM.UR.ZS,EN.URB.LCTY.UR.ZS,EN.URB.MCTY,EN.URB.MCTY.TL.ZS,GB.XPD.RSDV.GD.ZS,IP.JRN.ARTC.SC,NY.GDP.MKTP.KN,...,SH.XPD.CHEX.PC.CD,SI.DST.10TH.10,SI.DST.50MD,SI.POV.GINI,SL.UEM.TOTL.NE.ZS,SP.RUR.TOTL.ZG,SP.RUR.TOTL.ZS,SP.URB.GROW,SP.URB.TOTL,SP.URB.TOTL.IN.ZS
0,Afghanistan,AFG,56.937760009803,70.6999969482422,42.3311983623682,4011770,10.792339238057,..,111.72,515529924900,...,..,..,..,..,..,2.05646291237639,74.505,3.35038297624495,9477100,25.495
1,Albania,ALB,104.612262773723,..,27.5063925379807,..,..,..,180.36,1511909900000,...,..,..,..,..,12.3037996292114,-2.57812110197857,39.681,1.31716210445698,1728969,60.319
2,Algeria,DZA,17.7300750711665,..,8.78230990288061,2693542,6.37850392208528,..,5231.44,6123565479992.34,...,..,..,..,..,..,-0.0787864813063178,27.371,2.80499567674668,30670086,72.629
3,American Samoa,ASM,277.325,..,..,..,..,..,..,608000000,...,..,..,..,..,..,-0.140232809406397,12.847,-0.299515834872394,48339,87.153
4,Andorra,AND,163.842553191489,..,..,..,..,..,3.6,2621620000,...,..,..,..,..,..,0.742442541306233,11.938,-0.092859413109399,67813,88.062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,West Bank and Gaza,PSE,758.984551495017,..,19.3574193555803,..,..,..,375.95,13810300000,...,..,..,..,..,26.2560997009277,1.40670467907508,23.836,2.88811868523477,3479999,76.164
262,World,WLD,59.6178807531312,29.2445561511366,16.1122287366912,..,24.0100202823131,2.27364007357421,2554373.36151358,..,...,..,..,..,..,5.27310215036596,0.102531862340484,44.7295739607251,1.92878651799617,4195079805,55.2704260392749
263,"Yemen, Rep.",YEM,53.9778529083092,66.1999969482422,26.6154649528479,2779317,9.75243877024931,..,137.44,227584000000,...,..,..,..,..,..,1.37383409848097,63.358,4.08020880658667,10442489,36.642
264,Zambia,ZMB,23.3414789007116,54.5999984741211,33.4209340801511,2523844,14.5451238492419,..,213.07,139688155300,...,..,..,..,..,12.006199836731,1.95247167129333,56.479,4.17297037539389,7551686,43.521
265,Zimbabwe,ZWE,37.3245909267158,33.5,32.5763444910973,1515016,10.4925141031059,..,359.33,20114560000,...,..,..,..,..,..,1.45209278046374,67.791,1.32389222924462,4650663,32.209

### Health

In [100]:
df_health18 = df_pivot18[["CountryCode", "SH.MED.CMHW.P3", "SH.XPD.CHEX.GD.ZS", "SH.XPD.CHEX.PC.CD", "SH.MED.BEDS.ZS", "SH.MED.NUMW.P3"]]
df_health18.to_csv("../newdata/health_2018.csv", index=False)
df_health18

,CountryCode,SH.MED.CMHW.P3,SH.XPD.CHEX.GD.ZS,SH.XPD.CHEX.PC.CD,SH.MED.BEDS.ZS,SH.MED.NUMW.P3
0,AFG,..,..,..,..,..
1,ALB,..,..,..,..,..
2,DZA,..,..,..,..,1.5477
3,ASM,..,..,..,..,..
4,AND,..,..,..,..,..
...,...,...,...,...,...,...
261,PSE,..,..,..,..,..
262,WLD,..,..,..,..,3.81583566508837
263,YEM,..,..,..,..,0.7852
264,ZMB,..,..,..,..,1.3376
265,ZWE,..,..,..,..,1.9346

### Economics

In [101]:
df_economics18 = df_pivot18[["CountryCode", "NY.GDP.PCAP.KN", "NY.GDP.MKTP.KN", "SI.POV.GINI", "NY.GNP.MKTP.KN", "NY.GNP.PCAP.KN"]]
df_economics18.to_csv("../newdata/economics_2018.csv", index=False)
df_economics18

,CountryCode,NY.GDP.PCAP.KN,NY.GDP.MKTP.KN,SI.POV.GINI,NY.GNP.MKTP.KN,NY.GNP.PCAP.KN
0,AFG,13868.626159752,515529924900,..,..,..
1,ALB,527463.912619977,1511909900000,..,..,..
2,DZA,145010.497075142,6123565479992.34,..,..,..
3,ASM,10961.8678445867,608000000,..,..,..
4,AND,34044.3601797263,2621620000,..,..,..
...,...,...,...,...,...,...
261,PSE,3022.55133246533,13810300000,..,16028116041.4957,3507.9472204175
262,WLD,..,..,..,..,..
263,YEM,7985.77141466202,227584000000,..,..,..
264,ZMB,8050.34510496938,139688155300,..,..,..
265,ZWE,1393.0698057167,20114560000,..,18733610172.538,1297.42965709566

### Socioeconomics

In [102]:
df_socioEconomics18 = df_pivot18[["CountryCode", "SI.DST.10TH.10", "SI.DST.50MD", "SL.UEM.TOTL.NE.ZS"]]
df_socioEconomics18.to_csv("../newdata/socioEconomics_2018.csv", index=False)
df_socioEconomics18

    CountryCode SI.DST.10TH.10 SI.DST.50MD SL.UEM.TOTL.NE.ZS
0           AFG             ..          ..                ..
1           ALB             ..          ..  12.3037996292114
2           DZA             ..          ..                ..
3           ASM             ..          ..                ..
4           AND             ..          ..                ..
..          ...            ...         ...               ...
261         PSE             ..          ..  26.2560997009277
262         WLD             ..          ..  5.27310215036596
263         YEM             ..          ..                ..
264         ZMB             ..          ..   12.006199836731
265         ZWE             ..          ..                ..

[266 rows x 4 columns]

### Education

In [103]:
df_education18 = df_pivot18[["CountryCode", "GB.XPD.RSDV.GD.ZS", "IP.JRN.ARTC.SC"]]
df_education18.to_csv("../newdata/education_2018.csv", index=False)
df_education18

    CountryCode GB.XPD.RSDV.GD.ZS    IP.JRN.ARTC.SC
0           AFG                ..            111.72
1           ALB                ..            180.36
2           DZA                ..           5231.44
3           ASM                ..                ..
4           AND                ..               3.6
..          ...               ...               ...
261         PSE                ..            375.95
262         WLD  2.27364007357421  2554373.36151358
263         YEM                ..            137.44
264         ZMB                ..            213.07
265         ZWE                ..            359.33

[266 rows x 3 columns]

### Geographics

In [104]:
df_geographics18 = df_pivot18[["CountryCode", "EN.URB.MCTY.TL.ZS", "EN.URB.MCTY", "EN.URB.LCTY.UR.ZS", "EN.POP.DNST", "EN.POP.SLUM.UR.ZS", "SP.RUR.TOTL.ZS", "SP.RUR.TOTL.ZG", "SP.URB.TOTL", "SP.URB.GROW", "SP.URB.TOTL.IN.ZS"]]
df_geographics18.to_csv("../newdata/geographics_2018.csv", index=False)
df_geographics18

,CountryCode,EN.URB.MCTY.TL.ZS,EN.URB.MCTY,EN.URB.LCTY.UR.ZS,EN.POP.DNST,EN.POP.SLUM.UR.ZS,SP.RUR.TOTL.ZS,SP.RUR.TOTL.ZG,SP.URB.TOTL,SP.URB.GROW,SP.URB.TOTL.IN.ZS
0,AFG,10.792339238057,4011770,42.3311983623682,56.937760009803,70.6999969482422,74.505,2.05646291237639,9477100,3.35038297624495,25.495
1,ALB,..,..,27.5063925379807,104.612262773723,..,39.681,-2.57812110197857,1728969,1.31716210445698,60.319
2,DZA,6.37850392208528,2693542,8.78230990288061,17.7300750711665,..,27.371,-0.0787864813063178,30670086,2.80499567674668,72.629
3,ASM,..,..,..,277.325,..,12.847,-0.140232809406397,48339,-0.299515834872394,87.153
4,AND,..,..,..,163.842553191489,..,11.938,0.742442541306233,67813,-0.092859413109399,88.062
...,...,...,...,...,...,...,...,...,...,...,...
261,PSE,..,..,19.3574193555803,758.984551495017,..,23.836,1.40670467907508,3479999,2.88811868523477,76.164
262,WLD,24.0100202823131,..,16.1122287366912,59.6178807531312,29.2445561511366,44.7295739607251,0.102531862340484,4195079805,1.92878651799617,55.2704260392749
263,YEM,9.75243877024931,2779317,26.6154649528479,53.9778529083092,66.1999969482422,63.358,1.37383409848097,10442489,4.08020880658667,36.642
264,ZMB,14.5451238492419,2523844,33.4209340801511,23.3414789007116,54.5999984741211,56.479,1.95247167129333,7551686,4.17297037539389,43.521
265,ZWE,10.4925141031059,1515016,32.5763444910973,37.3245909267158,33.5,67.791,1.45209278046374,4650663,1.32389222924462,32.209

## Tabela 2019

In [105]:
df_total19 = df_total[["CountryName", "CountryCode", "SeriesCode", "Y2019"]]
df_total19 = df_total19[df_total19["CountryName"].notnull()]

new_columns = []
for i in df_pivot19.columns:
  new_columns.append(i.replace(".", ""))
df_pivot19.columns = new_columns

df_pivot19 = pivot_table("SeriesCode", ["CountryName", "CountryCode"], "Y2019", df_total19)
df_pivot19.to_csv("../newdata/total_2019.csv", index=False)

In [106]:
df_pivot19

,CountryName,CountryCode,EN.POP.DNST,EN.POP.SLUM.UR.ZS,EN.URB.LCTY.UR.ZS,EN.URB.MCTY,EN.URB.MCTY.TL.ZS,GB.XPD.RSDV.GD.ZS,IP.JRN.ARTC.SC,NY.GDP.MKTP.KN,...,SH.XPD.CHEX.PC.CD,SI.DST.10TH.10,SI.DST.50MD,SI.POV.GINI,SL.UEM.TOTL.NE.ZS,SP.RUR.TOTL.ZG,SP.RUR.TOTL.ZS,SP.URB.GROW,SP.URB.TOTL,SP.URB.TOTL.IN.ZS
0,Afghanistan,AFG,..,..,41.9915827598149,4114030,10.8145118650418,..,..,530486628400,...,..,..,..,..,..,1.96358574692554,74.246,3.32257193526388,9797273,25.754
1,Albania,ALB,..,..,27.7309419298429,..,..,..,..,1545384540000,...,..,..,..,..,11.4654998779297,-2.74606661163753,38.771,1.07141354924368,1747593,61.229
2,Algeria,DZA,..,..,8.66174655110584,2729325,6.3394457452426,..,..,6172554003832.28,...,..,..,..,..,..,-0.13323063442144,26.811,2.70203471945637,31510100,73.189
3,American Samoa,ASM,..,..,..,..,..,..,..,..,...,..,..,..,..,..,-0.238848023629824,12.853,-0.281742847595643,48203,87.147
4,Andorra,AND,..,..,..,..,..,..,..,2670100000,...,..,..,..,..,..,0.82331740120781,12.016,0.0884394910466288,67873,87.984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,West Bank and Gaza,PSE,..,..,19.3587342326344,..,..,..,..,..,...,..,..,..,..,25.3404006958008,1.34706676269918,23.56,2.87351814806851,3581448,76.44
262,World,WLD,..,..,16.0994179512369,..,24.2163182191787,..,..,..,...,..,..,..,..,..,0.0721419431982895,44.2857152845525,1.88682780016862,4274233737,55.7142847154475
263,"Yemen, Rep.",YEM,..,..,26.4443343097945,2874373,9.85659655766174,..,..,..,...,..,..,..,..,..,1.29966130332314,62.727,4.00798539245142,10869523,37.273
264,Zambia,ZMB,..,..,33.6218939892753,2646619,14.8178408524032,..,..,142070945900,...,..,..,..,..,..,1.91199588236161,55.928,4.15048511630338,7871713,44.072
265,Zimbabwe,ZWE,..,..,32.2495789439097,1521311,10.3875888431834,..,..,18485280600,...,..,..,..,..,16.8565998077393,1.41820521552295,67.79,1.42278718723626,4717305,32.21

### Health

In [107]:
df_health19 = df_pivot19[["CountryCode", "SH.MED.CMHW.P3", "SH.XPD.CHEX.GD.ZS", "SH.XPD.CHEX.PC.CD", "SH.MED.BEDS.ZS", "SH.MED.NUMW.P3"]]
df_health19.to_csv("../newdata/health_2019.csv", index=False)
df_health19

,CountryCode,SH.MED.CMHW.P3,SH.XPD.CHEX.GD.ZS,SH.XPD.CHEX.PC.CD,SH.MED.BEDS.ZS,SH.MED.NUMW.P3
0,AFG,..,..,..,..,..
1,ALB,..,..,..,..,..
2,DZA,..,..,..,..,..
3,ASM,..,..,..,..,..
4,AND,..,..,..,..,..
...,...,...,...,...,...,...
261,PSE,..,..,..,..,..
262,WLD,..,..,..,..,..
263,YEM,..,..,..,..,..
264,ZMB,..,..,..,..,..
265,ZWE,..,..,..,..,..

### Economics

In [108]:
df_economics19 = df_pivot19[["CountryCode", "NY.GDP.PCAP.KN", "NY.GDP.MKTP.KN", "SI.POV.GINI", "NY.GNP.MKTP.KN", "NY.GNP.PCAP.KN"]]
df_economics19.to_csv("../newdata/economics_2019.csv", index=False)
df_economics19

,CountryCode,NY.GDP.PCAP.KN,NY.GDP.MKTP.KN,SI.POV.GINI,NY.GNP.MKTP.KN,NY.GNP.PCAP.KN
0,AFG,13944.8519750167,530486628400,..,..,..
1,ALB,541443.981849848,1545384540000,..,..,..
2,DZA,143370.874545445,6172554003832.28,..,..,..
3,ASM,..,..,..,..,..
4,AND,34612.7919939851,2670100000,..,..,..
...,...,...,...,...,...,...
261,PSE,..,..,..,..,..
262,WLD,..,..,..,..,..
263,YEM,..,..,..,..,..
264,ZMB,7954.24149111222,142070945900,..,..,..
265,ZWE,1262.18435628004,18485280600,..,..,..

### Socioeconomics

In [109]:
df_socioEconomics19 = df_pivot19[["CountryCode", "SI.DST.10TH.10", "SI.DST.50MD", "SL.UEM.TOTL.NE.ZS"]]
df_socioEconomics19.to_csv("../newdata/socioEconomics_2019.csv", index=False)
df_socioEconomics19

    CountryCode SI.DST.10TH.10 SI.DST.50MD SL.UEM.TOTL.NE.ZS
0           AFG             ..          ..                ..
1           ALB             ..          ..  11.4654998779297
2           DZA             ..          ..                ..
3           ASM             ..          ..                ..
4           AND             ..          ..                ..
..          ...            ...         ...               ...
261         PSE             ..          ..  25.3404006958008
262         WLD             ..          ..                ..
263         YEM             ..          ..                ..
264         ZMB             ..          ..                ..
265         ZWE             ..          ..  16.8565998077393

[266 rows x 4 columns]

### Education

In [110]:
df_education19 = df_pivot19[["CountryCode", "GB.XPD.RSDV.GD.ZS", "IP.JRN.ARTC.SC"]]
df_education19.to_csv("../newdata/education_2019.csv", index=False)
df_education19

    CountryCode GB.XPD.RSDV.GD.ZS IP.JRN.ARTC.SC
0           AFG                ..             ..
1           ALB                ..             ..
2           DZA                ..             ..
3           ASM                ..             ..
4           AND                ..             ..
..          ...               ...            ...
261         PSE                ..             ..
262         WLD                ..             ..
263         YEM                ..             ..
264         ZMB                ..             ..
265         ZWE                ..             ..

[266 rows x 3 columns]

### Geographics

In [111]:
df_geographics19 = df_pivot19[["CountryCode", "EN.URB.MCTY.TL.ZS", "EN.URB.MCTY", "EN.URB.LCTY.UR.ZS", "EN.POP.DNST", "EN.POP.SLUM.UR.ZS", "SP.RUR.TOTL.ZS", "SP.RUR.TOTL.ZG", "SP.URB.TOTL", "SP.URB.GROW", "SP.URB.TOTL.IN.ZS"]]
df_geographics19.to_csv("../newdata/geographics_2019.csv", index=False)
df_geographics19

,CountryCode,EN.URB.MCTY.TL.ZS,EN.URB.MCTY,EN.URB.LCTY.UR.ZS,EN.POP.DNST,EN.POP.SLUM.UR.ZS,SP.RUR.TOTL.ZS,SP.RUR.TOTL.ZG,SP.URB.TOTL,SP.URB.GROW,SP.URB.TOTL.IN.ZS
0,AFG,10.8145118650418,4114030,41.9915827598149,..,..,74.246,1.96358574692554,9797273,3.32257193526388,25.754
1,ALB,..,..,27.7309419298429,..,..,38.771,-2.74606661163753,1747593,1.07141354924368,61.229
2,DZA,6.3394457452426,2729325,8.66174655110584,..,..,26.811,-0.13323063442144,31510100,2.70203471945637,73.189
3,ASM,..,..,..,..,..,12.853,-0.238848023629824,48203,-0.281742847595643,87.147
4,AND,..,..,..,..,..,12.016,0.82331740120781,67873,0.0884394910466288,87.984
...,...,...,...,...,...,...,...,...,...,...,...
261,PSE,..,..,19.3587342326344,..,..,23.56,1.34706676269918,3581448,2.87351814806851,76.44
262,WLD,24.2163182191787,..,16.0994179512369,..,..,44.2857152845525,0.0721419431982895,4274233737,1.88682780016862,55.7142847154475
263,YEM,9.85659655766174,2874373,26.4443343097945,..,..,62.727,1.29966130332314,10869523,4.00798539245142,37.273
264,ZMB,14.8178408524032,2646619,33.6218939892753,..,..,55.928,1.91199588236161,7871713,4.15048511630338,44.072
265,ZWE,10.3875888431834,1521311,32.2495789439097,..,..,67.79,1.41820521552295,4717305,1.42278718723626,32.21